
<h3><strong>Nice to see you again</strong></h3>
<form [formGroup]="loginForm" (submit)="auth()">
  <div class="loginInput">
    <app-input-login-password label="Login" placeholder="Email or phone number"  (value)="validateLogin($event)"></app-input-login-password>
    <app-input-login-password label="Password"  placeholder="Enter password"></app-input-login-password>
  </div>
    <div class="forgotPassword">
      <div class="rememberMe">
        <mat-slide-toggle>Remember me</mat-slide-toggle>
      </div>
      <div class="forgotPasswordSpan">
        <a routerLink="" [ngStyle]="{'color' : 'DeepSkyBlue'}">Forgot password?</a>
      </div>
    </div>
    <div>
      <app-button className="primary" (click)="login()">Sign In</app-button>
      <hr>
      <app-button className="secondary">Or Sign in with Google</app-button>
    </div>
    <span *ngIf="userName?.touched && userName?.errors">Le nom d'utilisateur est requis</span>
    <span *ngIf="password?.touched && password?.errors">Le password est incorrect</span>
    <div>
      <span>Don't have an account ?<a routerLink="/register" [ngStyle]="{'color' : 'DeepSkyBlue'}">Sign up now</a></span>
    </div>
  </form>

