.loginContainer {
  height: 50em;
  padding-right: 4rem;
  padding-top: 2rem;
}

.loginTitle {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
  }

  .footer {
    padding: 48px 0px 48px 0;
  }
    @media screen and (max-width: 872px) {
        .loginTitle {
            justify-content: center;

        }

    }

