input {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 16rem;
  margin-right: 0;
  border: none;
  border-radius: 2px;
  height: 3em;
  background-color: #E5E5E5;
  padding-left: 1rem;
}

@media screen and (max-width: 872px) {
   label {
    display: none;
   }
}
