.landingPageContainer{
    display: flex;
    align-items: center;
    height: 49em;
    width: 100%;
    border-radius: 5%;
    color: white;
}

.leftSize {

    img {
        width: 71em;
        height: 53em;
   }
}

.rightSize {
    padding-left: 3em;

    width: 100%;
    background-color: rgb(51, 51, 51);
}

@media screen and (max-width: 872px) {
    .landingPageContainer{
        .leftSize {
            display: none;
        }
    }
}

