header {
  background-color: rgb(68, 68, 68);
  z-index: 1;
}

#sidebar{
  position:fixed;
  left: 0;
  top: 4em;
  bottom: 0;
  background-color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
}


#page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
    padding: 0px 2em 0 1em;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: aliceblue;
    }
}
